@import "tailwindcss";
@plugin "../node_modules/daisyui/index.js" {
    themes: light;
};

@theme {
    --font-main: "Lato", sans-serif;
    --color-mango: #eebb44;
    --color-off-black: #1f1f1f;
    --color-rouge: #CC2200;
}